/* Use this file to add any custom css you like */
:root {
  --accent-bg:#f0f0f0;
  --bg:#f5f5f5;
  --text:#293241;
  --text-light:#4a5a75;
  --accent:#ff8e73;
  --accent-light:#ffffff;
  --border:#dae6f2;
  --border-light:#e3eefa;
  --base-fontsize:1.3rem;
  --header-scale:1.15;
  --line-height:1.5;
  --code:#144e82;
  
}
@media (prefers-color-scheme:dark) {
 :root {
  --bg:#171717;
  --accent-bg:#1a1a1a;
  --text:#ebebeb;
  --text-light:#b8cdd9;
  --border:#363b40;
  --border-light:#485057;
  --accent:#f79279;
  --accent-light:#242424;
  --code:#cce7ff;
  --disabled:#111;
 }
}
/* fix mobile nav to look good  */
@media only screen and (max-width:750px) {
  nav a,
  nav a:visited {
    padding: 0.7rem 1rem;
    display: inline;
    color: var(--text);
    font-size: 1.1rem;
    text-decoration:none;
    line-height: 3;
  }
}
nav {
  padding-top: 5px;
  padding-bottom: 35px;
}
header {
  padding-top: 0px;
  border-bottom:4px dashed var(--border);
}
h1 { 
  text-align: center;
}
h2 { 
  text-align: center;
}
h3 { 
  text-align: center;
}
h4 { 
  text-align: center;
}
a{
  text-decoration-line: unset;
  background: var(--accent-bg);
  border-radius: 4px;
  padding: 2.5px;
  padding-top: 2px;
  padding-bottom: 0px;
  transition: .25s;
}
a:hover {
  filter: drop-shadow(4px 7px 2px #000000);
  background: var(--accent);
  color: var(--bg);
}
nav a {
  scale:1.15;
  margin-inline: 17px;
  border: none;
  background:var(--bg);
}
nav a.nav-current {
  background: var(--border);
  border-color: var(--border);
  font-weight: bold;
}
nav a:hover {
  scale: 1.235;
  color: var(--text)!important;
  border-color: var(--accent-light);
  background: var(--accent-light);
}
nav a.nav-current:hover {
  color: var(--text);
  border-color: var(--border-light);
  background: var(--border-light);
}