` @font-face {
  font-family:jetbrains;
  font-style:bold;
  src:url(/assets/fonts/JetBrainsMono-Bold.woff2) format("woff2");
  font-display:swap
}
@font-face {
  font-family:jetbrains;
  font-weight:italic;
  src:url(/assets/fonts/JetBrainsMono-Italic.woff2) format("woff2");
  font-display:swap
}
@font-face {
  font-family:jetbrains;
  font-weight:400;
  font-style:normal;
  src:url(/assets/fonts/JetBrainsMono-Regular.woff2) format("woff2");
  font-display:swap
}
:root {
  --base-fontsize:20.8px;
  --header-scale:1.15;
  --bg:#1e1e2e;
  --accent-bg:#313244;
  --text:#cdd6f4;
  --text-light:#89b4f4;
  --border:var(--text);
  --border-light:#313244;
  --accent:#a6e3a1;
  --accent-light:#cba6f7;
  --code:#fab387;
  --disabled:#f4776d;
  --drop-shadow:#111;
}
* {
  font-family:jetbrains,system-ui;
  font-style:normal;
  caret-color:transparent;
  transition:.15s;
  transition-timing-function:ease-out
}
header h1 {
  background: linear-gradient(45deg, var(--text-light) 0%, var(--accent-light) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  scale: 1.15;
  color: transparent;
  display: inline-block;
}
header {
  padding:5px
}
.CodeRay {
  text-align:left
}
.invisible,
main form button {
  color:unset;
  background:0 0;
  border:none!important;
  width:100%;
  padding:0;
  margin:0
}
blockquote {
  background:var(--accent-bg);
  border-radius:20px;
  border-left:0;
  margin-left:0;
  margin-top:0
}
hr {
  width:90%;
  margin-top:0
}
main img,
main video {
  border-radius:20px;
  width:880px;
  filter:drop-shadow(1px 3px 3px var(--drop-shadow));
}
a img:hover,
a video:hover {
  transform:translate(-3px,-3px);
  filter:drop-shadow(1px 13px 15px var(--drop-shadow));
}
pre {
  text-align:left
}
body main {
  margin:0;
  padding:0
}
nav.desktop-only {
  padding-top:0
}
nav a,
nav details {
  border:0;
  font-size:120%;
  font-style:bold;
  margin-inline:.9%;
  background:var(--bg)
}
details summary {
  cursor:pointer
}
nav a:hover {
  transform:translate(-3px,-3px);
  border-color:var(--accent-light) !important;
  /* background:var(--accent-light) !important; */
  background: linear-gradient(45deg, var(--text-light) 0%, var(--accent-light) 100%) !important;
  color:var(--bg)!important
}
nav a.nav-current {
  font-style:bold;
  color:var(--accent-light)!important
}
nav a.nav-current:hover {
  color:var(--bg)!important
}
footer {
  margin-top:0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top:10px;
  text-align:center;
  color:var(--text-light);
  margin:10px;
  line-height:125%
}
a {
  text-decoration-line:underline;
  border-radius:5px;
  padding:2.5px;
  padding-top:2px;
  padding-bottom:0;
}
li p {
  text-align:left
}
p {
  text-align:center
}
a:hover:not(:has(img)) {
  filter:drop-shadow(1px 5px 5px var(--drop-shadow));
  background: linear-gradient(45deg, var(--accent) 0%, var(--text-light) 100%);
  color:var(--bg)
}
.mobile-only {
  display:none
}
@media screen and (max-width:800px) {
  .desktop-only {
    display:none
  }
  .mobile-only {
    display:inline-block
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    margin:4px
  }
  header {
    padding:5px
  }
  header i {
    font-size:14px
  }
  nav {
    padding-top:0;
    padding-bottom:0
  }
  nav a {
    background:0;
    margin-inline:0;
    padding-inline:5px
  }
  details summary,
  details div {
    display:block;
    width:min(75vw,400px)
  }
  nav a:hover {
    transform:none;
    border-color:none;
    background:0;
  }
}
.oldContent {
  background: linear-gradient(45deg, var(--code) 0%, var(--disabled) 100%);
  color: var(--bg);
  border-radius:5px;
  padding:8px;
}
