---
layout: default
---
{% for post in site.posts %}{% if post.title == page.title %}{% assign postNum = site.posts | size | minus: forloop.index0 %}{% endif %}{% endfor %}
{% assign adjectives = "QR Code,Tractor Beam,Neuralink,Quantum,Mars Satellite,Retroreflector,Skynet,Initech Landline" | split: ',' %}
{% assign adjective = adjectives | sample: 1 %}
{% assign max = adjectives.size %}
{% assign diff = max | minus: 0 %}
{% assign randomNumber = postNum | plus: adjectives.length | minus: 1 | modulo: diff %}
<span style="float:right;">📅 {% assign d = page.date | date: "%d" | plus:'0' %}{{ page.date | date: "%b" }} {% case d %}{% when 1 or 21 or 31 %}{{ d }}st{% when 2 or 22 %}{{ d }}nd{% when 3 or 23 %}{{ d }}rd{% else %}{{ d }}th{% endcase %} {{ page.date | date: "%Y" }}</span>
<span style="float:left;"><code> Transmission <b>#{{postNum}}</b> Connection: <b>{{adjective}}</b></code></span>
<br>
<hr>

{{ content }}

<br>
<hr>

<h2>🪧 Enjoy Reading This?</h2>
<p>Here are some more you might like to read next:</p>
    
<ul>
{% assign maxRelated = 5 %}
{% assign maxCommonTags = 20 %} 
{% assign seenPostsString = "" %}
{% assign maxRelatedCounter = 0 %}
{% for thisCommonTag in (0..maxCommonTags) %}
	{% for post in site.posts %}
    	{% if maxRelatedCounter >= maxRelated %}
            		{% break %}
        {% endif %}
		{% assign sameTagCount = 0 %}
		{% for tag in post.tags %}
			{% if post.url != page.url %}
            	{% if page.tags contains tag %}
            		{% assign sameTagCount = sameTagCount | plus: 1 %}
            	{% endif %}
        	{% endif %}
		{% endfor %}
		{% assign thisCommonTagLimit = maxCommonTags | minus: thisCommonTag %}
		{% if seenPosts contains post.url %}
		{% else %}
    		{% if sameTagCount >= thisCommonTagLimit and post.url != page.url %}
				<li><p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - 📅 {% assign d = post.date | date: "%d" | plus:'0' %}{{ post.date | date: "%b" }} {% case d %}{% when 1 or 21 or 31 %}{{ d }}st{% when 2 or 22 %}{{ d }}nd{% when 3 or 23 %}{{ d }}rd{% else %}{{ d }}th{% endcase %} {{ post.date | date: "%Y" }}
        		{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
				{% assign seenPostsString = seenPostsString | append: ',' | append: post.url %}
				{% assign seenPosts = seenPostsString | removeFirst: ',' |  split: ',' %}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endfor %}
</ul>
<br>
<hr>

<h2>💬 Looking for comments?</h2>

<p>I don't have comments on this site as they're difficult to manage and take up too much time. I'd rather concentrate on programming cool and new things than managing comments.</p>

<p>Since you can't leave a comment, feel free to ✉️ <a href="/contact">contact me</a> instead.</p>
